@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color:black;
    padding:0;
    margin:0;
}

#wrapper {
    display:flex;
}

#input-fields {
    display: flex;

}

#input-fields > div{
    background: #292929;    
    color:#fff;
    box-sizing: border-box;
    /*padding:10px;*/
    width:50%;
}

svg {
    width:50%;
    visibility: hidden;
}

.tubeLabel{
    fill:#FCEFD6;
    font-size:1.4em;
    font-family: "din-condensed-web", sans-serif;
    text-anchor:middle;
}

.dragger{
    -webkit-tap-highlight-color:transparent;

}


.text-input {
	background: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    color: white;  
    text-align: justify;
    padding:0;
    height: 30px;
    width:200px;
}

label {
    
    font-size: 2em;
    font-weight: normal;
} 

.label{
    fill:black;
    font-size:2.0em;
    font-family: "din-condensed-web", sans-serif;
    text-anchor:middle;
    letter-spacing:1.2px;
}

/*
.label-scale {
    fill:black;
    font-size:1.7em;
    font-family: "din-condensed-web", sans-serif;
    text-anchor:middle;
    letter-spacing:1.2px;
}
*/
.submit-button {
    width:90px;
    height: 60px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.5em;
}

label[for="dsl"], label[for="gasl"] {
    font-size: 1.1em;

}

#temp-type {
    display: flex;
    padding-bottom: 5px;
}

#tachometer{
    /*margin-left: 330px;*/
    background:#282828;
    margin:5px auto;
    margin-right: 0;
    width:600px;
    height:600px;
    box-shadow: inset 0px 0px 9px 3px rgba(0, 0, 0, 1);
    border: 20px solid gray;
    border-radius: 100%;
    display: block;
    position: relative;  
    float: left;
}


.ii {
    position: absolute;
    width: 600px;
    height: 600px;
    z-index: 2;
    
}
.ii div {
    position: absolute;
    width: 600px;
    height: 600px;
    padding:4px;
    box-sizing: border-box;
}
.ii div b {
    position: absolute;
    display: block;
    left: 50%;
    width: 5px;
    height: 20px;
    background: white;
    margin: 0 -5px 0;
    
}
.ii div:nth-child(2n+1) b {
    width: 10px;
    height: 35px;
    margin: 0 -5px 0;
}

.ii div:nth-child(1) {
    transform: rotate(240deg);
}
.ii div:nth-child(2) {
    transform: rotate(255.5deg);
}
.ii div:nth-child(3) {
    transform: rotate(270deg);
}
.ii div:nth-child(4) {
    transform: rotate(285.5deg);
}
.ii div:nth-child(5) {
    transform: rotate(300deg);
}
.ii div:nth-child(6) {
    transform: rotate(315.5deg);
}
.ii div:nth-child(7) {
    transform: rotate(330deg);
}
.ii div:nth-child(8) {
    transform: rotate(345.5deg);
}
.ii div:nth-child(9) {
    transform: rotate(0deg);/*---*/
}
.ii div:nth-child(10) {
    transform: rotate(15.5deg);
}
.ii div:nth-child(11) {
    transform: rotate(30deg);
}
.ii div:nth-child(12) {
    transform: rotate(45.5deg);
}
.ii div:nth-child(13) {
    transform: rotate(60deg);
}

.ii div:nth-child(14) {
    transform: rotate(75.5deg);      /*---*/
}

.ii div:nth-child(15) {
    transform: rotate(90deg);
}
.ii div:nth-child(16) {
    transform: rotate(105.5deg);
}

.ii div:nth-child(17) {
    transform: rotate(120deg);
}



[class^="num_"] {
    color:#FFF;
    display: block;
    position: absolute;
    width: 10px;
    font-size:40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    text-decoration:none;
      
}

#division {
    color:#FFF;
    display: block;
    position: absolute;
    width: 45px;
    font-size:14px;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;
    margin:150px 276px;
    z-index: 2;
}

.num_1 {transform: rotate(120deg); top:20px;}
.num_2 {transform: rotate(90deg); top:13px; left:5px}
.num_3 {transform: rotate(60deg); top:21px;}
.num_4 {transform: rotate(30deg); top:25px;}
.num_5 {transform: rotate(0deg);  top:30px;left:-8px}
.num_6 {transform: rotate(330deg); top:35px;left:-10px}
.num_7 {transform: rotate(300deg); top:35px;left:-7px;} 
.num_8 {transform: rotate(270deg);top:30px;}
.num_9 {transform: rotate(240deg);top:30px;left:8px}


.redline1{     
    width:120px; height:300px;
    position:absolute;
    top:-40px;
    right:88px;
    border-width: 20px;
    border-radius:50%;
    border-style: solid;
    border-color: #282828 darkred #282828 #282828;
    transform:rotate(308deg);
    z-index:1
}

.redline2{     
    width:28px; height:150px;
    position:absolute;
    top:272px;
    right:12px;
    border-width: 22px;
    border-radius: 50%;
    border-style: solid;
    border-color: #282828 darkred #282828 #282828;
    transform:rotate(15deg);
    z-index:1
}


#line {
    background: red;
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 0;
    transform-origin: 50% 100%;
    margin: -285px -8px 0;
    padding: 285px 8px 0;
    z-index:2;
    border-radius: 50% 50% 0 0;    
    transform:rotate(-120deg);
}

.pin {
    width: 100px;
    height: 100px;
    left:50%;
    top:50%;
    margin: -50px 0 0 -50px;
    background-color: silver;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0px 0px 9px 3px rgba(0, 0, 0, 1);
    background-image: linear-gradient(to bottom, silver, #343536);
    z-index: 4;
}


.inner {
    width: 60px;
    height: 60px;
    margin: 20px auto 0;
    background-color: dimgray;
    border-radius: 100%;
    box-shadow: inset 0 8px 15px 0 rgba(192, 192, 192, 0.4);
    position: relative;
}

.gasoline-ticks {
    visibility: hidden;
}

